.wrapper {
  width: 80%;

  .title {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
  }

  .trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80%;

    .trip {
      margin: 5px;
      width: 100%;
      min-width: 200px;
      max-width: 250px;
      height: 100%;
    }
  .button {
    display: flex;
    justify-content: left;
    align-items: left;
  }
  }
}