.details {
  display: flex;
  margin: 5%;
}

.activity_detail {
  width: 50%;
  border: 1px solid black;
}

.activity_picture {
  width: 50%;
}

.activity_picture img {
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.paragraphs {
  font-size: 15px;
}

.backToList {
}
