@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Quicksand&family=Roboto:wght@300&display=swap');

.app {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
}
