@import 'src/styles/vars';

.result {
  width: 70%;
  border: $border;
  border-radius: 10px;
  margin: 5px;
  display: flex;

  &-list {
    width: 60%;
    margin: 10px;
    overflow: scroll;

    div.ui.fluid.card:hover {
      background-color: $resListHover;
      transition-duration: 0.2s;

      button.ui.icon.button {
        background-color: $resListHover;
        
        i.add.icon {
          color:black;
          font-size: 2.3em;
        }
      }
    }

    button.ui.icon.button {
      background-color: white;

      i.add.icon {
        color:black;
        font-size: 1.7em;
      }
    }
  }

  &-map {
    width: 40%;
    margin: 10px 10px 10px 0px;

    .leaflet-container {
      width: 100%;
      height: 100%;

      h3 {
        margin: 2px;
      }
      
      h4 {
        margin: 2px;
        font-size: 1.2em;
        font-weight: normal;
      }
    }
  }
}

