.filtersbar {
  width: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;

  .availability {
    height: 25%;
    border: 2px solid gray;
    margin: 15px;
    background-color: rgba(128, 202, 186, 0.041);

    &-dates {
      background-color: honeydew;
      text-align: center;
      margin: 3px;
      
      button {
        background-color: white;
      }
    }

    &-time {
      background-color: honeydew;
      text-align: center;
      margin: 3px;
    }
  }
  .preferences {
    height: 50%;
    border: 1px solid gray;
    margin: 15px;
  }
}







