.settings {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
.login-form {
  border-radius: 10px;
  border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2em;
    input {
      border: 1px solid grey;
      border-radius: 10px;
      padding: 12px;
      font-size: 1.15em;
      margin-bottom: 10px;
    }
    button {
      color: #fff;
      padding: 15px;
      border: none;
      border-radius: 10px;
    }
  }


.loading {
  color: #fff;
}
