.header {
  display: flex;
  background-color: rgb(6, 192, 130);
  height: 15%;
}

h1 {
  width: 75%;
}

.login {
  width: 25%;
  text-align: right;
}

.login a {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}

.login a:hover {
  color: #8a0f53;
}

.login .active {
  color: #2c7613;
}
