@import 'src/styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  height: 8%;
}

/*
.button {
  height: 50px;
  margin-right: 10px;
  box-shadow: 10px 5px 5px rgb(29, 29, 66);
  border: 1px solid rgb(29, 29, 66);
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/
/*
button:hover {
  color: white;
  transition: 0.5s;
}
*/
/*
  .logo {
    width: 50%;

  }
*/
  button.ui.animated.button {
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
  }


@media screen and (max-width: 1250px) {
  .logo {
    width: 30%;
  }
}


@media screen and (max-width: 500px) {
  .logo {
    width: 40%;
  }
}
