@use 'src/styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$headerANDfooter;
  padding: 1.5rem;
  height: 15%;

  .logo {
    width: 18%;
  }

  .login {
    align-items: center;

    button.ui.animated.button {
      background-color: white;
      border: 1px solid black;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .logo {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 40%;
  }
}
