// Page : ResultPage > composant FiltersBar
$filter-heading: rgba(6, 192, 130, 0.164);
$filter-columns: 1px solid rgba(6, 192, 130, 0.164);

// Page : ResultPage > composant FiltersBar ET Result
$border: 2px solid rgba(6, 192, 130, 0.164);
$border-radius: 10px;

// Main colors
$headerANDfooter: white;
